<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"><span>Price</span></div>
      <div class="col-sm-4"><span>Beds</span></div>
      <div class="col-sm-4"><span>Baths</span></div>
    </div>  
    <div class="row">
      <div class="col-sm-4"><input id="min-price" class="filter-field primary-filter"><span>to</span><input id="max-price" class="filter-field primary-filter"></div>
      <div class="col-sm-4"><input id="min-beds" class="filter-field .primary-filter"><span>to</span><input id="max-beds" class="filter-field .primary-filter"></div>
      <div class="col-sm-4"><input id="min-baths" class="filter-field primary-filter"><span>to</span><input id="max-baths" class="filter-field primary-filter"></div>
    </div>  
  </div>  
</div>