<div class="shortListing-outer-container col-sm-12 col-md-4"> 
  <div class="shortListing-image-price-container row">
    <div class="col-sm-12">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/73/de/32/73de32f9e5a0db66ec7805bb7cb3f807.jpg" />
      <p>$' + price + '</p>
    </div>
  </div>
  <div class="shortListing-stats-container row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4"><p>' + beds +'Beds</p></div>
        <div class="col-sm-4"><p>' + baths + 'Baths</p></div>
        <div class="col-sm-4"><p>' + sqft + 'sqft</p></div>
      </div>
    </div>
  </div> 
  <div class="shortListing-address-container row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12"><p>' + manualAddressONE + '</p></div>
        <div class="col-sm-12"><p>' + manualAddressTWO + '</p></div>
      </div>
    </div>
  </div>
  <div class="shortListing-cta-container row">
    <div class="col-sm-12">
      <a><span class="shortListing-cta-view">VIEW NOW</span></a>
    </div>
  </div> 
</div>
