#listings-container {
  height: 638px; 
  width: 100%;
}

#listings-pagination-top {
  margin-top: 60px;
  margin-bottom: 15px;
}

.shortListing-image-container img {
  max-width: 100%;
  max-height: 100%;
}