<div class="dropdown shortCard-sort-filter">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
    Sort by<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="price-asc"><a>Price ASC</a></li>
    <li class="price-desc"><a>Price DESC</a></li>
    <li class="sqft-asc"><a>Sqft ASC</a></li>
    <li class="sqft-desc"><a>Sqft DESC</a></li>
    <li class="beds-asc"><a>Beds ASC</a></li>
    <li class="beds-desc"><a>Beds DESC</a></li>
  </ul>
</div>